<form [formGroup]="formulario"  class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Numero de filas</mat-label>
        <input matInput formControlName = "filas">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Numero de Columnas</mat-label>
        <input matInput formControlName = "columnas">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Palabra a encryptar</mat-label>
        <input matInput formControlName = "palabra">
    </mat-form-field>

    <button mat-raised-button color="primary" class="example-full-width" [disabled]="formulario.invalid" (click)="submitForm()">Encrypt</button>
    
      <mat-form-field class="example-full-text">
        <mat-label>palabra encryptada</mat-label>
        <textarea matInput formControlName = "mensaje"></textarea>
      </mat-form-field>
 </form>